.content {
  padding-top: 20px;
}

.dropdownButton {
  padding: 0px 10px;
  font-size: 20px;
  cursor: pointer;
  background-color: #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item {
  padding: 10px 20px;
  padding-bottom: 20px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome and Opera */
}

.arrowUp {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid black;
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
}

.arrowDown {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid black;
}

.valueLabel {
  top: 28px !important;
}
.valueLabel > span > span {
  color: #58595b;
  font-size: 16px;
  transform: none;
}

.valueLabel > span {
  transform: none;
  border-radius: unset;
  background-color: transparent;
}

.thumb {
  width: 18px;
  height: 18px;
  margin-top: -8px;
  background-color: #0099cc !important;
}

.thumb[data-index="1"] span {
  left: calc(-50% + -34px);
}

.thumb[data-index="0"] span {
  left: calc(-50% + 10px);
}

.track {
  background-color: #0099cc !important;
}

.root {
  border-right: 2px solid #ccc;
  border-left: 2px solid #ccc;
  padding: 6px 0 !important;
}

.priceRange {
  font-size: 12px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #58595b;
}

.priceRange span {
  font-size: 20px;
  color: #0099cc;
}

@media (max-width: 1350px) {
  .content {
    margin-bottom: 20px;
  }
}
